#root{
    text-align: center;
}
.logo-titolo > *{
    width: 45%;
    height:50%;
    margin: 50px;
}
.input-utente{
    margin: 20px;
}
.list-item{
    background-color:#f0f0f0;
    border-radius: 10px;
}
ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.green{
    background-color: green;
}
.bgdefault{
    background-color:#f0f0f0;
}
.input-text{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border:1px outset grey;
}
.delete-button{
    border: grey;
}